@use "sass:map"
@use "sass:math"
    
$font-stack:    Helvetica, sans-serif

$themeColors: ('blue': (heavy: #11b, medium: #36f, light: #6af, superLight: #9df), 'red': (heavy: #c11, medium: #e33, light: #f66), 'green': (heavy: #1a1, medium: #3c3, light: #afa))
$transitionDuration: 0.3s

$zIndices: (alwaysShow: 100)

$clickable-button-text-color: #aaaaaa

@mixin span-parent
    height: 100%
    width: 100%

html
    @include span-parent
    background-color: map.get($themeColors, 'green', heavy)
    
    body
        @include span-parent
        margin: 0
        font: 100% $font-stack
            
        #container
            @include span-parent
            display: flex
            flex-direction: column
            overflow: hidden

            @mixin navigationBarSizing
                width: 100%
                flex: 0 0 50px
            
            #navigationBarDummy
                @include navigationBarSizing

            #navigationBar
                position: fixed
                @include navigationBarSizing
                z-index: map.get($zIndices, alwaysShow)
                display: flex
                flex-direction: row
                background-color: #fff6
                align-items: center

                .navigationBarButton
                    height: 20px
                    margin: 10px
                    border-radius: 5px
                    padding: 5px
                    background-color: #7772

            #contentContainer
                flex: 1 1 auto
                overflow: auto

                #sideBar
                    height: 100%
                    $sideBarBorderColor: rgba(128, 128, 128, 0.1)
                    border-right: 2px solid $sideBarBorderColor

                    .sideBarText
                        border-bottom: 2px solid $sideBarBorderColor

                #content
                    height: 100%
                    padding: 0 20px

                    .breedContainer
                        display: flex
                        flex-direction: column
                        align-items: center
                        background-color: #fff9
                        border-radius: 10px
                        padding: 10px 50px

                        .metric
                            display: flex
                            flex-direction: row
                            align-items: flex-start

                            .metricIcon
                                width: 30px
                                margin-right: 10px
                                user-select: none

                            .metricValue
                                line-height: 30px
                                font-size: 20px

                        .imagesContainer
                            display: grid
                            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) )
                            gap: 30px

                            .imageContainer
                                display: flex
                                justify-content: center
                                height: 300px

                                .breedImage
                                    height: 100%
                                    width: 100%
                                    object-fit: contain
                                    border-radius: 10px


                    .breedGroupsPage
                        & > div
                            margin: 10px

                    .breedThumbnail
                        display: flex
                        flex-direction: column
                        width: 250px
                        height: 220px
                        border-radius: 10px
                        align-items: center
                        background-color: #fff9
                        overflow: hidden

                        .breedThumbnailName
                            flex: 0 1 auto
                            text-align: center
                            margin: 5px 10px
                    
        .clickable
            transition: background-color $transitionDuration
            border-radius: 5px
            padding: 5px
            &:hover
                background-color: #9993

        .dogPawCursor
            cursor: url(../assets/paw.png), auto

        .genericButton
            width: fit-content
            height: fit-content
            border-radius: 5px
            padding: 10px 12px
            transition: all $transitionDuration ease
            user-select: none

        @each $familyName, $themeColorFamily in $themeColors
            .genericButton-#{$familyName}
                background-color: map.get($themeColorFamily, medium)
                color: white
                        
                &:hover
                    background-color: map.get($themeColorFamily, heavy)

        .genericButton-default
            color: black

            &:hover
                background-color: #bbba


        .buttonOn
            user-select: none
            background-color: green

        .buttonOff
            user-select: none
            background-color: red

        .grid
            display: flex
            flex-direction: row
            flex-wrap: wrap
            gap: 10px
            justify-content: center

        .selectionGrid
            background-color: #fffc
            border-radius: 10px
            padding: 10px

        .carousel
            position: relative
            flex: 1 1 auto
            width: 100%
            overflow: hidden

            .carouselArrow
                position: absolute
                top: 50%
                border-radius: 1000

            $carouselArrowMargin: 15px
            .carouselArrowForward
                right: $carouselArrowMargin

            .carouselArrowBack
                left: $carouselArrowMargin
            
            .carouselPhotoContainer
                position: absolute
                width: 100%
                height: 100%
                top: 0
                left: 0
                object-fit: contain
                justify-content: center
                transition: 0.7s left

                .carouselPhoto
                    position: absolute
                    width: 100%
                    height: 100%
                    top: 0
                
        .floatingComponent
            .floatingComponentMain
                position: fixed
                z-index: map.get($zIndices, alwaysShow)