$font-stack:    Helvetica, sans-serif
$dummy-color: #ff0000


$clickable-button-text-color: #aaaaaa

body
    font: 100% $font-stack
    color: $dummy-color

    .container
        display: grid
        grid-template-columns: minmax(100px, 20%) 1fr

        .sidebar
            background-color: red
            
        .content
            #breedContainer
                display: flex
                flex-direction: column
                align-items: center
                margin-left: 20px
                margin-right: 20px
                
                .breedTemperament
                    color: #333333


                .breedImage
                    object-fit: contain
                    width: 100%
                    max-width: 600px
                    border-radius: 10px
                
.clickable
    color: #777777
    background-color: rgba(128, 128, 128, 0.05)
    border-radius: 10px
    padding: 10px